
h1, h2, h3 {
    font-size: 2rem;
    color: #252525;
}
li{
    font-size: 1.3rem;
}
p{
    font-size: 1.3rem;
}
img{
    width:60%;
}

body{
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eeeeeec7;
    }
.btn, .round-count{
    border-radius: 5px;
    color: white;
    background: #0a90def0;
    padding: 1rem;
    font-size: 1.3em;
    cursor: pointer;
}
.round-count{
    background: orange;
    max-width: 100px;
    cursor: default;
}
.game-area{
    display: flex;
    padding: 10px;
    justify-content: center; 
    align-items: center;
    background-color: rgb(169, 190, 236);  
    gap: 20px;
}
.controls-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 13px;
}
.controls-area button:hover{
    transform: scale(1.1);
}
.controls-area button{
    font-size: 2.3em;
}
.top-buttons, .bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 13px;
}
.showing-area{
    display: grid;
    border-radius: 5px;
    color: white;
    background: #0a90def0;
    width: 50%;
    padding: 1.5rem;
    font-size: 5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    height: 140px;
    align-items: center;
}
.score-area{
    font-size: 1.5rem;
    margin: 30px 0px;
}
/* .btn_start, .round-count {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */
.btn_start_newgame, .btn_next_round_count{
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}
.btn_start, .round-count{
    flex: 0.8;
    display: flex;
    justify-content: center;
}
.btn_next_round {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.your-area, .computers-area {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.user-weapon, .computer-weapon{
    display: flex;
    height: 100%;
    flex-direction: column;
}
@media (max-width:768px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
    }

    li, p {
        font-size: 1.2rem;
    }

    .game-area {
        flex-direction: column;
    }
    .showing-area{
        margin-top: 1rem;
        width: 80%;
    }
    .game-area{
        padding: 25px;
    }
     .top-buttons, .bottom-buttons {
        gap: 40px;
        display: flex;
    } 
    .controls-area button {
        font-size: 2.7rem;
        display: flex;
        align-items: flex-start;
    }
}

@media (max-width:480px) {
    h1, h2, h3 {
        font-size: 1.2rem;
    }

    li, p {
        font-size: 0.9rem;
    }
    img {
        width: 80%;
    }
    .btn, .round-count {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .showing-area{
        margin: 0;
    }
    .top-buttons, .bottom-buttons {
        display: flex;
        gap: 13px;
    }
    .controls-area button {
        font-size: 2rem;
    }
    .score-area {
        font-size: 1rem;
        margin: 30px 0px;
    }
    .btn{
        padding: 0.8rem;
    }
    .btn_start, .round-count {
        flex: 0.6;
        align-items: center;
    }
}